# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno y configuración
.env
config.json
secrets.json

# Archivos de servicios externos (puedes añadir tus IDs más adelante)
google-adsense-id.txt
maps-api-key.txt

# Carpetas de compilación (si usas herramientas como Vite, Parcel, etc.)
dist/
build/

# Archivos de editores
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Archivos temporales
*.log
*.tmp
*.bak
~*

# GitHub Pages
_site/
